﻿
@{
    ViewBag.Title = "ListBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <input type="hidden" id="hdEmailId" value="@HttpContext.Current.User.Identity.Name"/>
    <table id="tblBooking" class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Package</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/assets/plugins/moment/moment.js"></script>
<script>
    var i = 0;
    var emailId = document.getElementById('hdEmailId').value;
    $("#tblBooking").DataTable({
        ajax: {
            url: "/Booking/GetBookingListByEmail?emailId=" + emailId,
            dataSrc:""
        },
        columns: [
            {
                data: "",
                render: function () {
                    
                    i++;
                    return i;
                }
            },
            {
                data: "PackageName"
            },
            {
                data: "BookingDate",
                render: function (data) {
                    return moment(data).format('LL');
                }
            },
            {
                data: "Quantity"
            },
            {
                data: "Status",
                render : function (data) {
                    if (data == 0)
                        return '<p><span class="label label-primary">pending</span></p>';
                    else if (data == 1)
                        return '<p><span class="label label-success">approved</span></p>';
                    else if (data == 2)
                        return '<p><span class="label label-danger">rejected</span></p>';
                    else if (data == 3)
                        return '<p><span class="label label-danger">Paid</span></p>';
                }
            }
        ]
    });
</script>

