﻿@using EquineSystem.Models
@model EquineSystem.Models.Package

@{ 
    List<Package> packageList = new List<Package>();
    using (EquineDBEntities dc = new EquineDBEntities())
    {
        packageList = dc.Package.ToList();
    }
}
@{
        ViewBag.Title = "ListPackage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    @foreach (var packej in packageList)
    {
        //string img = packej.IMG;
        //string img2 ="~/Content/assets/images/big/img5.jpg";

        <div class="col-md-4">
            <!-- Card -->

            <div class="card card-outline-inverse">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">@packej.PackageName</h4>
                </div>
                <img class="card-img-top img-responsive" src="~/Content/assets/images/big/img5.jpg" alt="IMG">
                <div class="card-body">
                    @*<h4 class="card-title">@packej.PackageName</h4>*@
                    <p class="card-text">@packej.Description</p>
                    <a href="#" class="btn btn-info" onclick="viewEditPackage(@packej.PackageId)">View</a>&nbsp;
                    <a href="#" class="btn btn-danger">Activate/Deactivate</a>
                </div>
            </div>
            <!-- Card -->
        </div>




    }

</div>
@* modal view/edit *@
<div class="modal fade" id="modalViewEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ModalTitle"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
            </div>
            <div class="modal-body">
                <form id="form" class="form-horizontal">
                    <fieldset id="SubmitForm">
                        <label>First name</label>
                        @Html.HiddenFor(m => m.PackageId, new { @id = "PackageId" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.PackageName, new { @id = "PackageName", @class = "form-group", @placeholder = "Package Name" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Description, new { @id = "LastName", @class = "form-group", @placeholder = "Last Name" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Price, new { @id = "EmaidId", @class = "form-group", @placeholder = "Email" })
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function viewEditPackage(packageId) {
        var url = "/Booking/GetPackageById?packageId=" + packageId;
        $("#ModalTitle").html(packageId);
        $("#modalViewEdit").modal();
        //$.ajax({
        //    type: "GET",
        //    url: url,
        //    success: function (data) {
        //        var object = JSON.parse(data);
        //        $("#UserId").val(object.UserId);
        //        $("#FirstName").val(object.FirstName);
        //        $("#LastName").val(object.LastName);
        //        $("#EmaidId").val(object.EmaidId);
        //    }

        //})
    }
</script>

