﻿
@{
    ViewBag.Title = "ManageBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--modal for package management-->
<div class="modal fade" id="modalBookingManagement">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ModalTitle">Booking Management</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <!--hidden field-->
                <input type="hidden" id="hdBookingId" value="0" />
                <input type="hidden" id="hdBookingDate" value="0" />
                <input type="hidden" id="hdUser" value="@HttpContext.Current.User.Identity.Name" />
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label"><span class="label label-inverse">Booking details:</span></label><br />
                            <p id="bDetails"></p>
                        </div>
                        <!--check event on this day-->
                        <div id="InformationBox" class="form-group">
                            <!--list of event on same date-->
                            <label class="control-label"><span class="label label-inverse">Event of same date:</span></label><br />
                            <ol id="eventList"></ol>
                        </div>
                    </div>
                    <div class="col-6">
                        <!--assign staff to handle those bookking-->
                        <div class="form-group">
                            <label>Select Staff </label>
                            <input type="text" id="txtStaff" />
                        </div>
                        <!-- action-->
                        <div class="form-group">
                            <label class="label label-inverse"><b>Action</b></label><br />
                            <button type="button" class="btn btn-info" onclick="ApproveBooking()"><span class="fa fa-check"></span> Approve</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-danger" onclick="RejectedBooking()"><span class="fa fa-remove"></span> Reject</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--modal for rejected booking->put comment for rejection-->
<div class="modal fade" id="modalRejected">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Booking Management</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!--booking detail-->
                <!--comment /reason for rejeection-->
                <div class="form-group">
                    <label>Comment/Message*</label>
                    <textarea id="txtMessage" name="Comment/Message" rows="3" class="form-control" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success m-t-20 " onclick="ConfirmRejectBooking()">Confirm</button>
                <button type="button" class="btn btn-inverse m-t-20 " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    <h4 class="card-title">Booking List</h4>
    <h6 class="card-subtitle">List of reservation made by customers</h6>
    <div class="row m-t-40" id="divStatistic">
        <!-- Column -->
        @*<div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card card-inverse card-info">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white" id="txtTotal"></h1>
                    <h6 class="text-white">Total Booking</h6>
                </div>
            </div>
        </div>*@
        <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card card-inverse card-warning" onclick="DisplayPaidList()">
                <div class="box  text-center">
                    <h1 class="font-light text-white" id="txtPaid"></h1>
                    <h6 class="text-white">Paid</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card card-primary card-inverse" onclick="DisplayApprovedList()">
                <div class="box text-center">
                    <h1 class="font-light text-white" id="txtApproved"></h1>
                    <h6 class="text-white">Approved</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card card-inverse card-success" onclick="DisplayRejectedList()">
                <div class="box text-center">
                    <h1 class="font-light text-white" id="txtRejected"></h1>
                    <h6 class="text-white">Rejected</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card card-inverse card-dark" onclick="DisplayPendingList()">
                <div class="box text-center">
                    <h1 class="font-light text-white" id="txtPending"></h1>
                    <h6 class="text-white">Pending</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <div class="table-responsive">
        <table id="tblBookingManagement" class="table table-striped" data-page-size="10">
            <thead>
                <tr>
                    <th>ID #</th>
                    <th>Customer Name</th>
                    <th>Package</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
   
    <script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/plugins/popper/popper.min.js"></script>
    <script src="~/Content/assets/plugins/moment/moment.js"></script>
    <script src="~/Content/js/data-format.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/sweetalert/sweetalert.min.js"></script>

    

    <script>
        var index = 0;
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: '/Booking/BookingStatistic',
                success: function (data) {
                    var pending = 0, rejected = 0, approved = 0, total = 0, paid=0;
                    //pending = data["0"].Count;
                    //approved = data["1"].Count;
                    //rejected = data["2"].Count;

                    for (var i = 0; i < data.length; i++) {
                        if (data[i].Status == 0) {
                            pending=data[i].Count;
                        }
                        else if (data[i].Status == 1){
                            approved = data[i].Count
                        }
                        else if (data[i].Status == 2){
                            rejected = data[i].Count
                        } 
                        else if (data[i].Status == 3) {
                            paid = data[i].Count
                        } 
                    }
                   // total = pending + rejected + approved + paid;

                    //visualize value
                    document.getElementById("txtPending").innerHTML = pending;
                    document.getElementById("txtApproved").innerHTML = approved;
                    document.getElementById("txtRejected").innerHTML = rejected;
                    //document.getElementById("txtTotal").innerHTML = total;
                    document.getElementById("txtPaid").innerHTML = paid;
                }

            });

            
            ////auto complete for staff name
            $("#txtStaff").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Admin/GetStaffAutocomplete",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                console.log(item.FirstName);
                                return {
                                    value: item.FirstName,
                                };
                            }))

                        }
                        
                    })
                },
                messages: {
                    
                    noResults: "", results: ""
                }
            });
        })

        $("#tblBookingManagement").DataTable({
            ajax: {
                url: "/Booking/GetAllBooking",
                dataSrc: ""
            },
            columns: [
                {
                    data: "",
                    render: function () {
                        index++;
                        return index;
                    }
                },
                {
                    data: "Customer"
                },
                {
                    data: "PackageName"
                },
                {
                    data: "TimeStamp",
                    render: function (data) {
                        return moment(data).fromNow();
                    }
                },
                {
                    data: "BookingId",
                    render: function (data) {
                        return "<a href='#' class='btn btn-success' onclick='ViewBooking(" + data.toString() + ")' ><span class='fa fa-eye'></span></a>";
                    }
                }
            ]
        })

        

        //function to load booking detail into modal
        function ViewBooking(bookingId) {
            //alert(bookingId);
            //assign value to hidden date
            document.getElementById('hdBookingId').value = bookingId;
            $("#modalBookingManagement").modal();
            //ajax call
            $.ajax({
                type: "GET",
                url: '/Booking/GetBookingPending?bookingId=' + bookingId,
                success: function (data) {
                    //populate booking detail
                    DisplayBookingDetail(data);

                }

            })
            //laod content for evetn on same date
            ListEventOnSameDate();
        }

        function DisplayBookingDetail(data) {
            //alert(data["0"].Customer);
            var $description = $('<div/>');
            $description.append($('<h5/>').html('Customer Name: ' + data["0"].Customer));
            $description.append($('<h5/>').html('Package: ' + data["0"].PackageName));
            $description.append($('<h5/>').html('Quantity: ' + data["0"].Quantity));
            $description.append($('<h5/>').html('Date: ' + data["0"].BookingDate));

            $('#modalBookingManagement #bDetails').empty().html($description);
        }


        //function to make list of event occur on same date for references before approve booking
        function ListEventOnSameDate() {
            $.ajax({
                type: "GET",
                url: '/Booking/EventByDate?bookingId=' + document.getElementById('hdBookingId').value,
                success: function (data) {

                    var list = document.getElementById('eventList');

                    for (var i = 0; i < data.length; i++) {
                        var content = data[i].Origin + ">>" + data[i].Subject;
                        var entry = document.createElement('li');
                        entry.appendChild(document.createTextNode(content));
                        list.appendChild(entry);
                    }

                }

            })
        }

        //approve booking
        function ApproveBooking() {
            var bookingId = document.getElementById('hdBookingId').value;

            //hide modal
            //$("#modalBookingManagement").modal('hide');
            swal({
                title: "Are you sure?",
                text: "You will not be able to undo this action!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, approve it!",
                closeOnConfirm: false,
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        url: '/Admin/ApproveBookingById',
                        data: { 'bookingId': bookingId },
                        success: function (data) {
                            if (data.status) {
                                swal("Approved!", "The booking has been approved.", "success");

                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })

                }
            });
        }

        function RejectedBooking() {
            //open modal-> hide  
            $("#modalBookingManagement").modal('hide');
            $("#modalRejected").modal();
  
        }

        function ConfirmRejectBooking() {
            //alert($('#txtMessage').val().trim());
            //change booking status,update comment table
            var bookingId = document.getElementById('hdBookingId').value;
            var user = document.getElementById('hdUser').value;
            var content = $('#txtMessage').val().trim();
            //data to be added to db
            var data = {
                BookingId: bookingId,
                Content: content
            }

            //alert(data.Content)
           //  ajax call
            $.ajax({
                type: "POST",
                url: '/Admin/RejectBookingById',
                data: { 'comment': data },
                success: function (data) {
                    if (data.status) {
                        swal("Succeed!", "The booking has been rejected.", "success");

                    }
                },
                error: function () {
                    alert('Failed');
                }
            })
        }


        function DisplayPaidList() {
            //document.getElementById('tblBookingManagement').style.display = 'none';
            var oTable = $('#tblBookingManagement').dataTable(); // 'example is the table id'
            oTable.hide();
        }




    </script>

