﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="modalPayment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Payment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!--hidden for booking id and user-->
                <input type="hidden" id="hdBookingId"/>
                <input type="hidden" id="hdUser" value="@HttpContext.Current.User.Identity.Name"/>

                <!--booking detail-->
                <div class="form-group">
                    <label class="control-label"><span class="label label-info">Booking details:</span></label><br />
                    <p id="bDetails"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success m-t-20 " onclick="ConfirmPayment()">Confirm</button>
                <button type="button" class="btn btn-inverse m-t-20 " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--table for approved booking for payment-->
<h4 class="card-title">Booking List for payment</h4>
<h6 class="card-subtitle">List of reservation ready for payment</h6>
<div class="table-responsive">
    <table id="tblPayment" class="table table-striped" data-page-size="10">
        <thead>
            <tr>
                <th>ID #</th>
                <th>Customer Name</th>
                <th>Package</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/assets/plugins/popper/popper.min.js"></script>
<script src="~/Content/assets/plugins/moment/moment.js"></script>
<script src="~/Content/js/data-format.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    var index = 0;
    //load data to datatable
    $("#tblPayment").DataTable({
        ajax: {
            url: "/Payment/GetAllBookingForPayment",
            dataSrc: ""
        },
        columns: [
            {
                data: "",
                render: function () {
                    index++;
                    return index;
                }
            },
            {
                data: "Customer"
            },
            {
                data: "PackageName"
            },
            {
                data: "BookingDate",
                render: function (data) {
                    return moment(data).format('llll');
                }
            },
            {
                data: "BookingId",
                render: function (data) {
                    return "<a href='#' class='btn btn-success' onclick='Pay(" + data.toString() + ")' ><span class='fa fa-credit-card-alt'> Pay</span></a>";
                }
            }
        ]
    })

    //handle payment view-> open 
    function Pay(bookingId) {
        // alert(bookingId);
        $('#modalPayment').modal();
        document.getElementById('hdBookingId').value = bookingId;
        //ajax call->populate data
        $.ajax({
            type: "GET",
            url: '/Payment/GetBookingForPayment?bookingId=' + bookingId,
            success: function (data) {
                //populate booking detail
                DisplayBookingDetail(data);

            }

        })
        
        
    }

    //booking detail
    function DisplayBookingDetail(data) {
        var $description = $('<div/>');
        $description.append($('<p/>').html('<b>Customer Name: </b>' + data["0"].Customer));
        $description.append($('<p/>').html('<b>Package: </b>' + data["0"].PackageName));
        $description.append($('<p/>').html('<b>Price: </b>' + data["0"].Price));
        $description.append($('<p/>').html('<b>Quantity: </b>' + data["0"].Quantity));
        $description.append($('<p/>').html('<b>Date: </b>' + data["0"].BookingDate));
        $description.append($('<p/>').html('<b>Total: </b>RM ' + data["0"].Total));

        $('#modalPayment #bDetails').empty().html($description);
    }

    //confirm payment
    function ConfirmPayment() {
        //gather data
        var bookingId = document.getElementById('hdBookingId').value;
        var user = document.getElementById('hdUser').value;
        var data = {
            BookingId: bookingId,
            UserId: 0 // assign user id later in controller
        }

        //ajx call
        $.ajax({
            type: "POST",
            url: '/Payment/ConfirmedPayment',
            data: { 'payment': data, 'user': user},
            success: function (data) {
                if (data.status) {
                    swal("Succeed!", "The transaction has been recorded.", "success");

                }
            },
            error: function () {
                alert('Failed');
            }
        })
    }
</script>

