﻿<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@*<link href="~/Content/base/bootstrap.min.css" rel="stylesheet" />*@

<li>
    <a class="has-arrow " href="#" aria-expanded="false"><i class="fa fa-briefcase"></i><span class="hide-menu">Manage</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/Package/PackageList">Equine Package</a></li>
        <li><a href="/Admin/ListStaff">Staff</a></li>
        <li><a href="/Booking/ManageBooking">Booking</a></li>
    </ul>
</li>
<li>
    <a href="/Admin/Calender" aria-expanded="false"><i class="fa fa-calendar"></i><span class="hide-menu">Calender</span></a>
</li>
<li>
    <a href="/Payment/Index" aria-expanded="false"><i class="fa fa-dollar"></i><span class="hide-menu">Payment</span></a>
</li>
<li>
    <a href="/Statictic/Index" aria-expanded="false"><i class="fa fa-line-chart"></i><span class="hide-menu">Statistic</span></a>
</li>




