﻿<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/base/bootstrap.min.css" rel="stylesheet" />
<li>
    <a class="has-arrow " href="#" aria-expanded="false"><i class="fa fa-briefcase"></i><span class="hide-menu">Manage</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/Booking/ManageBooking">Booking</a></li>
    </ul>
</li>
<li>
    <a href="#" aria-expanded="false"><i class="fa fa-calendar"></i><span class="hide-menu">Calender</span></a>
</li>