﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/images/favicon.png">
    <title>UTM Equine Park | Unauthorize</title>
    @Styles.Render("~/Content")
</head>
<body class="fix-header fix-sidebar card-no-border">
    
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                @RenderBody()
                <footer class="footer text-center">© 2018 UTM EQUINE PARK.</footer>
            </div>
        </div>
    </section>

    <script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/assets/plugins/popper/popper.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/js/waves.js"></script>
</body>
</html>
