﻿<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/base/bootstrap.min.css" rel="stylesheet" />

<li>
    <a class="has-arrow " href="#" aria-expanded="false"><i class="fa fa-briefcase"></i><span class="hide-menu">Booking</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/Package/Index">New</a></li>
        <li><a href="/Booking/ListBooking">Existing</a></li>
    </ul>
</li>
