﻿
@{
    Layout = "~/Views/Shared/_Unauthorize.cshtml";
}

<h3 class="text-uppercase">Page Not Found !</h3>
<p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
<a href="#" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back</a>


