﻿@using EquineSystem.Models
@model EquineSystem.Models.Package

@{
    List<Package> packageList = new List<Package>();
    using (EquineDBEntities dc = new EquineDBEntities())
    {

        packageList = dc.Package.Where(a => a.Status != 2).ToList();
    }
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row">
    @foreach (var packej in packageList)
    {
        //string img = packej.IMG;
        //string img2 ="~/Content/assets/images/big/img5.jpg";

        <div class="col-md-4">
            <!-- Card -->

            <div class=" card card-outline-inverse">
                @*<div class="ribbon ribbon-danger">New</div>*@
                <div class="card-header">
                    <h4 class="m-b-0 text-white">@packej.PackageName</h4>
                </div>
                <img class="card-img-top img-responsive" src="@Url.Content(packej.IMG)" alt="IMG" >
                <div class="card-body">
                    @*<h4 class="card-title">@packej.PackageName</h4>*@
                    <p class="card-text">RM @packej.Price</p>
                    <a href="#" class="btn btn-info" onclick="viewPackage(@packej.PackageId)">View detail</a>&nbsp;
                </div>
            </div>
            <!-- Card -->
        </div>
    }

</div>
<!--Large modal-->
<div class="modal fade bs-example-modal-lg" id="modalLarge" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <h4>Overflowing text to show scroll behavior</h4>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    </div>
                    <div class="col-6">
                        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@* modal view/edit *@
<div class="modal fade" id="modalView">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ModalTitle"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdCurrentUser" value="@HttpContext.Current.User.Identity.Name" />
                <input type="hidden" id="hdPackageId" value="0" />
                <div class="row">
                    <div class="col-6">
                        <!-- add courosel --> 
                        <div>
                            <img id="packageIMG" class="img-responsive" alt="First slide">
                        </div><br/>
                        <h3><b>Package details</b></h3>
                        <p id="PackageDetail"></p>
                       
                    </div>
                    <div class="col-6">
                        <div class="form-group has-feedback">
                            <h4><strong>Please choose booking date</strong><a class="mytooltip" href="javascript:void(0)"> <i class="fa fa-fw fa-question"></i> <span class="tooltip-content3">You can easily navigate the city by car.</span> </a></h4>
                            <div class="form-group">
                                <label>Date</label>
                                <input id="datePicker" type="date" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Session</label>
                                <select id="ddSession" class="form-control">
                                    <option value="09:00:00 AM">Morning</option>
                                    <option value="04:00:00 PM">Evening</option>
                                </select>
                            </div>
                            <span class="glyphicon glyphicon-book form-control-feedback"></span>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-block btn-danger" id="Book" onclick="Booking()">Book</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/assets/plugins/moment/moment.js"></script>
<script>

    function test() {
        $("#modalLarge").modal();
    }
   
    function viewPackage(packageId) {
        document.getElementById('hdPackageId').value = packageId;
        var url = "/Package/GetPackageById?packageId=" + packageId;
        //$("#modalView").modal('cl');
        $("#modalView").modal();
        var $pDetail = $('<div/>');
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var object = JSON.parse(data);
                $("#ModalTitle").html(object.PackageName);
                $('#packageIMG').attr("src", object.IMG.slice(1,object.IMG.length));
                //console.log(imgPath);
                //console.log(object.IMG);
                $pDetail.append($('<h5/>').html('<b>Price: </b>RM ' + object.Price));
                $pDetail.append($('<h5/>').html('<b>Description: <br/></b> ' + object.Description));

            }

        })
        //personalized package detail here
        $('#modalView #PackageDetail').empty().html($pDetail);
    }

    function Booking() {
        var datetime = $('#datePicker').val().trim() + " " + $('#ddSession').val().trim();
        datetime = moment(datetime).format("DD/MM/YYYY HH:mm A");

        var date = moment($('#datePicker').val().trim()).format("DD/MM/YYYY");
        //alert(date +"->"+datetime);
        //var date = moment($('#datePicker').val().trim()).format("DD/MM/YYYY HH:mm A");
        //alert($('#hdPackageId').val());
        var user = $('#hdCurrentUser').val();
        var data = {
            UserId: 0,
            PackageId: $('#hdPackageId').val(),
            Quantity: 1,
            Status: 0,
            BookingDate: datetime,
            SpecDate : date
        }

        $.ajax({
            type: "POST",
            url: '/Package/PlaceBooking',
            data: { "booking": data, "userId": user },
            success: function (data) {
                if (data.status) {
                    
                    alert('Success');
                    $("#modalView").modal('hide');

                }
            },
            error: function () {
                alert('Failed');
            }
        })
    
    }

    //format datetime picker
    $('#datePicker').datetimepicker({
        format: 'DD/MM/YYYY '
    });
</script>

