﻿
@{
    ViewBag.Title = "PackageList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <a href="#" class="btn btn-info" onclick="AddNewPackage()">Add new package</a><br />
    <div class="table-responsive m-t-40">
        <table id="myTable" class="table  table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Package Name</th>
                    <th>Price (RM)</th>
                    <th>Status</th>
                    <th>Actions <a data-toggle="tooltip" data-placement="right" title="Activate/Deactivate"><span class="fa fa-question"></span></a></th>
                </tr>
            </thead>
            <tbody id="SetPackageList">
                <tr id="LoadingStatus"></tr>
            </tbody>
        </table>
    </div>
   

</div>
@* modal for add/create new package *@


<div id="myModalAddPackage" class="modal none-border">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Add Package</strong></h4>&nbsp;&nbsp;
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="/Package/AddNewPackageWithImg" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="hdPackageID" name="PackageId" value="0" />
                    <div class="form-group">
                        <label>Package Name *</label>
                        <input type="text" id="txtPackageName" name="PackageName" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label>Price (RM) *</label>
                        <input type="text" id="txtPrice" name="Price" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label>Description*</label>
                        <textarea id="txtDescription" name="Description" rows="3" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Image *</label>
                        <input  name="ImageFile" type="file" class="form-control" />
                    </div>
                    <button id="btnAdd" type="submit" class="btn btn-success" >Add</button>
                    <button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Close</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div id="myModalView" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="packageTitle"></span></h4>&nbsp;&nbsp;
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                
                <button id="btnDelete" class="btn btn-default btn-sm pull-right" onclick="DeletePackage()">
                    <span class="glyphicon glyphicon-remove"></span>Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;" onclick="openEditForm()">
                    <span class="glyphicon glyphicon-star"></span>Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@*<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>*@
<script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/assets/plugins/popper/popper.min.js"></script>
<script src="~/Content/assets/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    var selectedPackage = null;

     $("#LoadingStatus").html("Loading ...");
    $.get("/Package/GetPackageList", null, DataBind);
    function DataBind(packageList) {
        var SetData = $("#SetPackageList");
        var labelling = "";
      
        for (var i = 0; i < packageList.length; i++) {

            if (packageList[i].Status == 1) {
                labelling = "<span class='label label-success'>Active</span>";
            }  
            else {
                labelling = "<span class='label label-danger'>Unactive</span>";
            }

            var Data = "<tr class='row_" + packageList[i].PackageId + "'>" +
                "<td>" + (i+1) + "</td>" +
                "<td>" + packageList[i].PackageName + "</td>" +
                "<td>" + packageList[i].Price + "</td>" +
                "<td>" + labelling + "</td>" +
                "<td>"
                + "<a href='#' class='btn btn-warning' onclick='ViewPackage(" + packageList[i].PackageId + ")'><span class='fa fa-eye' ></span></a>&nbsp;&nbsp;<a href='#' class='btn btn-danger' onclick='TongglePackageStatus(" + packageList[i].PackageId + ")' data-toggle='tooltip' data-placement='right' title='Tonggle Activate/Deactivate'><span class='fa fa-refresh'></span></a>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");
        }
    }

    //tonggle status package (activate/deactivate) + sweet alert plugin
    function TongglePackageStatus(PackageId) {
                $.ajax({
                    type: "POST",
                    url: '/Package/TongglePackageStatus',
                    data: { 'id': PackageId },
                    success: function (data) {
                        if (data.status) {
                            //window.location.href = "/Package/PackageList";
                            swal("Success!", "The package has been activated/deactivated.", "success");    
                        }
                    },
                    error: function () {
                        alert('Failed !!!');
                    }
                })

    }

    //display modal for add new package
    function AddNewPackage() {
        $("#myModalAddPackage").modal();
    }


    //display data for view
    function ViewPackage(PackageId) {
        var url = "/Package/GetPackageById?packageId=" + PackageId;
        $("#myModalView").modal();
        var $pDetail = $('<div/>');

        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var object = JSON.parse(data);
                var imgPath = object.IMG.toString();
                selectedPackage = object.PackageId;
                document.getElementById('hdPackageID').value = object.PackageId;
                $("#packageTitle").html(object.PackageName);
                //$('#PackageIMG').append('<img  class="img-responsive"  src="' +  + '" alt="First slide"/>')
               // $pDetail.append($('<div/>').html('<img  class="img-responsive"  src="' + this.imgPath + '" alt="First slide"/>'));
                //$pDetail.append($('<h4/>').html('<b>Price: </b>RM ' + imgPath));
                $pDetail.append($('<h4/>').html('<b>Price: </b>RM ' + object.Price));
                $pDetail.append($('<h4/>').html('<b>Description: </b> ' + object.Description));

            }

        })
        $('#myModalView #pDetails').empty().html($pDetail);
    }

    function openEditForm() {
        //alert(document.getElementById('hdPackageID').value);
        var url = "/Package/GetPackageById?packageId=" + selectedPackage;
        $("#myModalAddPackage").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var object = JSON.parse(data);
                //$('#hdPackageID').val(object.PackageId)
                $("#txtPackageName").val(object.PackageName);
                $("#txtPrice").val(object.Price);
                $("#txtDescription").val(object.Description);
            }

        })

        //hide modal 1
        $("#myModalView").modal('hide');

    }

    //remove package + sweet alert plugin
    function DeletePackage() {
        swal({
            title: "Are you sure?",
            text: "You will not be able to undo this action!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "POST",
                    url: '/Package/DeletePackage',
                    data: { 'packageId': selectedPackage },
                    success: function (data) {
                        if (data.status) {
                            swal("Deleted!", "The package has been removed.", "success");

                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
                $("#myModalView").modal('hide');
            }
        });
    }
    
</script>

