﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" id="chartContainer">
    <!--graph here-->
</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    
    
    //ajax call
    $.ajax({
        type: "GET",
        url: '/Statictic/PackageStat',
        success: function (data) {
            var dataPoints = [];

            for (var i = 0; i < data.length; i++) {
                dataPoints.push({ label: data[i].PackageName, y: data[i].Quantity });
            }
            console.log(dataPoints.length);
            //sisplay chart
            var chart = new CanvasJS.Chart("chartContainer", {
            theme: "theme2",
            animationEnabled: true,
            title: {
                text: "Statistic on Package"
            },
            subtitles: [
                { text: "Package over HIT" }
            ],
            data: [
                {
                    type: "area", //change type to bar, line, area, pie, column
                    dataPoints: dataPoints,
                }
            ]
            
        });
        chart.render();
           
        }

    });


</script>
