﻿@model EquineSystem.Models.UserLogin

@{
    Layout = "~/Views/Shared/_PlainLayout.cshtml";
}

<!-- Preloader spinner-->
@*<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>*@
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../../Content/assets/images/background/img-background2.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <p class="login-box-msg"> Sign in to start your session</p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()



                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group m-t-40">
                    @*@Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-xs-12">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type="password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            @Html.CheckBoxFor(model => model.RememberMe, new { style = "height:20px" })
                            @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                            <label> Remember me</label>
                        </div>    
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-info  btn-block text-uppercase waves-effect waves-light">Sign In</button>
                    </div>
                </div>

                <div class="row">
                    <p style="text-align:center">-OR-</p>
                    <div class="col-md-12 text-center">
                        <div>
                           @* <button  class="btn btn-facebook btn-block text-uppercase waves-effect waves-light"><span><i class="fa fa-facebook"></i></span>Login with Facebook</button>*@
                            <a href="#" class="btn btn-facebook" ><span><i  class="fa fa-facebook"></i></span> Login with Facebook </a> 
                        </div>
                    </div>
                </div>
                
                <div>
                    @Html.ActionLink("Register a new membership", "Registration", "User", new { @class = "col-sm-12 text-center" })
                </div>

            }
        </div> 
    </div>
</section>
    




