﻿@model EquineSystem.Models.User

@{
    
    Layout = "~/Views/Shared/_PlainLayout.cshtml";
}

<section id="wrapper" class="login-register login-sidebar" style="background-image:url(~/Content/assets/images/background/login-register.jpg);">
    <div class="login-box card" >

        <div class="card-body">
            <p class="login-box-msg"> Register new membership</p>
            @* validation for *@
            @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
            {
                if (ViewBag.Message != null)
                {
                    //alert alert-dismissible alert - success
                    <div class="alert alert-dismissable alert-success">
                        <strong>Success </strong>@ViewBag.Message
                    </div>
                }
            }
            else
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group has-feedback">
                        @* @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First name" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group has-feedback">
                        @*@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last name" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group has-feedback">
                        @* @Html.LabelFor(model => model.EmaidId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        @Html.EditorFor(model => model.EmaidId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.EmaidId, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })

                    </div>

                    <div class="form-group has-feedback">
                        @* @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <span class="glyphicon glyphicon-book form-control-feedback"></span>
                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date of birth" } })
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group has-feedback">
                        @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group has-feedback">
                        @*@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm password" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.IsEmailVerified, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.IsEmailVerified, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IsEmailVerified, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                    
                        <div class="col-xs-4">
                            <input type="submit" value="Register" class="btn btn-info text-uppercase waves-effect waves-light" />
                        </div>
                    
                    <div class="social-auth-links text-center">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                            <i class="fa fa-facebook"></i> Sign up using Facebook
                        </a>
                    </div>

                    if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Error</strong>@ViewBag.Message
                        </div>
                    }
                }
            }




            <div>
                @Html.ActionLink("I already has membership", "Login", "User", new { @class = "text-center" })
            </div>
        </div>
    </div>
</section>





