﻿
@{
    Layout = "~/Views/Shared/_PlainLayout.cshtml";
    ViewBag.Title = "VerifyAccount";
}

<h2>VerifyAccount</h2>

@if(ViewBag.Status!=null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Your account has been activated successfully. Click here to @Html.ActionLink("Login","Login","User")</strong>

    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error !</strong>@ViewBag.Message

    </div>
}

