﻿
@{
    ViewBag.Title = "Calender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<div class="row">
    
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
<div id="myModalSave" class="modal none-border" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Edit Event</strong></h4>&nbsp;&nbsp;
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" id="hdCurrentUser" value="@HttpContext.Current.User.Identity.Name"/>
                    <input type="hidden" id="hdEventID" value="0"/>
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dpt1">
                            <input type="text" id="txtStart" class="form-control" disabled />
                            <span class="input-group-addon" >
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label> <input type="checkbox" id="chkIsFullDay" checked="checked"/> Is Full Day</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>End</label>
                        <div class="input-group date" id="dpt2">
                            <input type="text" id="txtEnd" class="form-control" disabled/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Theme</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="green">Default</option>
                            <option value="blue">Booking</option>
                            <option value="yellow">Class</option>
                        </select>
                    </div>
                    <button id="btnSave" type="button"  class="btn btn-success" onclick="save()">Save</button>
                    <button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Close</button>
                </form>
            </div>
            @*<div class="modal-footer">
                
            </div>*@
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle" ></span></h4>&nbsp;&nbsp;
                <button type="button" class="close" data-dismiss="modal">&times;</button> 
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span>Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-star"></span>Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/assets/plugins/calendar/jquery-ui.min.js"></script>
<script src="~/Content/assets/plugins/moment/moment.js"></script>
<script src='~/Content/assets/plugins/calendar/dist/fullcalendar.min.js'></script>
@*<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>*@
@*<script src="~/Content/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
@* handle calender*@ 
<script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventCalender();
            //function to fetch calender content from db
            function FetchEventCalender() {
                event = [];
                $.ajax({
                    type: "GET",
                    url: "/Admin/getCalender",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            
                            events.push({
                                origin : v.Origin,
                                eventId: v.EventId,
                                title: v.Subject,
                                description: v.Description,
                                start: moment(v.Start),
                                end: v.End != null ? moment(v.End) : null,
                                color: v.ThemeColor,
                                allDay: v.IsFullDay,
                                writer: v.Writer
                            });
                           
                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }

            //load calender
            var $this = this;
            function GenerateCalender(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    eventLimit: true,
                    //eventLimitText: "View",
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start: </b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        //if (calEvent.end != null) {
                        //    $description.append($('<p/>').html('<b>End: </b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        //}
                        if (calEvent.origin == "Booking") {
                            document.getElementById('btnEdit').style.visibility = 'hidden';
                            document.getElementById('btnDelete').style.visibility = 'hidden';
                        }
                        else {
                            document.getElementById('btnEdit').style.visibility = 'visible';
                            document.getElementById('btnDelete').style.visibility = 'visible';
                        }

                        $description.append($('<p/>').html('<b>Description: </b>' + calEvent.description));

                        if (calEvent.origin == "Booking") {
                            $description.append($('<p/>').html('<b>User: </b>' + calEvent.writer));
                        }
                        else {
                            $description.append($('<p/>').html('<b>Writer: </b>' + calEvent.writer)); 
                        }
                        
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            eventId: 0,
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color:''

                        }
                      //check event limit per day
                        checkEventByDate(selectedEvent.start.format('DD/MM/YYYY'));
                        
                    }
                })
            }

            $('#btnEdit').click(function () {
                openEditForm();
            });

            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure?')) {
                    $.ajax({
                        type: "POST",
                        url: '/Admin/DeleteEvent',
                        data: { 'eventId': selectedEvent.eventId },
                        success: function (data) {
                            if (data.status) {
                                // FetchEventCalender();
                                location.reload();
                                $('#myModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            });

            $('#btnSave').click(function () {
                //$('#myModalSave').modal('hide');
                //validation

                
                //alert(specDate);
                if ($('#txtSubject').val().trim() == "" || $('#txtStart').val().trim() == "" )  {
                    alert('Subject date required');
                    return;
                }
                if ($('#txtStart').val().trim() == "" ){
                    alert('Start date required');
                    return;
                }
                if ($('#chkIsFullDay').is(':checked') == true && $('#txtEnd').val().trim() == "") {
                    alert('End date required');
                    return;
                }
                else {
                    var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
                    var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A").toDate();
                    if (startDate > endDate) {
                        alert('Invalid end date');
                    }
                }
                if ($('#txtDescription').val().trim() == "") {
                    alert('Description required');
                    return;
                }
                var specDate = moment($('#txtStart').val().trim()).format("MM/DD/YYYY");
                
                var data = {
                    EventId: $('#hdEventID').val(),
                    Subject: $('#txtSubject').val().trim(),
                    Description: $('#txtDescription').val().trim(),
                    Start: $('#txtStart').val().trim(),
                    End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                    ThemeColor: $('#ddThemeColor').val(),
                    SpecDate : specDate
                    //allDay: v.IsFullDay
                }
                
                //call function for submit data
                var user = document.getElementById('hdCurrentUser').value;
                saveEvent(data,user);
            });

            function checkEventByDate(specDate) {
                var length = 0;
                $.ajax({
                    type: "POST",
                    url: '/Admin/CheckEventOnSpecificDay',
                    data: { "specDate": specDate, },
                    success: function (data) {
                        if (data.length >= 4) {
                            alert("Event reach limit");
                        }
                        else {
                             openEditForm();
                             $('#calender').fullCalendar('unselect');
                        }

                    },
                    error: function () {
                        alert('Failed');
                    }
                });
  
            }

            function saveEvent(data,user) {
               // alert(data.EventId);
                $.ajax({
                    type: "POST",
                    url: '/Admin/SaveEvent',
                    data: { "e": data,"id":user },
                    success: function (data) {
                        if (data.status) {
                             FetchEventCalender();
                            $('#myModalSave').modal('hide');
                            location.reload();

                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }

            //formatting datetime value
            $('#dtp1,#dpt2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm A'
            });

            $('#chkIsFullDay').change(function () {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();//hide end date if fullday event been ticked
                }
                else {
                    $('#divEndDate').show();
                }
            });

           

            function openEditForm() {
                //alert(document.getElementById('hdCurrentUser').value);
                if (selectedEvent != null) {
                    $('#hdEventID').val(selectedEvent.eventId);
                    $('#txtSubject').val(selectedEvent.title);
                    $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm A'));
                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    $('#chkIsFullDay').change();
                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm A') : '');
                    $('#txtDescription').val(selectedEvent.description);
                    $('#ddThemeColor').val(selectedEvent.color);
                }
                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }

        })
</script>



