﻿@model EquineSystem.Models.User

<h2>Delete Staff</h2>
@using(Html.BeginForm("Delete","Admin",FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a =>a.UserId)
    <div class="form-group">
        <label>First name</label>
        <p>@Model.FirstName</p>

    </div>
    <div class="form-group">
        <label>Last name</label>
        <p>@Model.LastName</p>

    </div>
    <div class="form-group">
        <label>Email</label>
        <p>@Model.EmaidId</p>

    </div>
    <div>
        <input type="submit"  value="Delete"/>
    </div>
}

