﻿
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <title>ADMIN </title>
   @* <link href="~/Content/bootstrap-minty.min-.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div>
       @* <a class="popup btn btn-primary" href="/Admin/Save/0">Add new Staff</a>*@
        <table class="tablecontainer" id="MyDataTable">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    @*<th>Edit</th>
                    <th>Delete</th>*@
                </tr>
            </thead>

        </table>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
   @* <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function ()
        {
            var oTable = $('#MyDataTable').DataTable({
                "ajax": {
                    "url": '/Admin/StaffList',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "FirstName", "autowidth": true },
                    { "data": "LastName", "autowidth": true },
                    { "data": "Role", "autowidth": true }
                    //{
                    //    "data": "UserId", "width": "50px", "render": function (data) {
                    //        return '<a class="popup" href="/Admin/Save"' + data + '" >Edit</a > ';
                    //    }
                    //},

                    //{
                    //    "data": "UserId", "width": "50px", "render": function (data) {
                    //        return '<a class="popup" href="/Admin/Delete"' + data + '" >Delete</a > ';
                    //    }
                    //}
                    

                ]
            })
            //$('.tablecontainer').on('click', 'a.popup', function (e) {
            //    e.preventDefault();
            //    OpenPopup($(this).attr('href'));
            //})
            //function OpenPopup(pageUrl) {
            //    var $pageContent = $('<div/>');
            //    $pageContent.load(pageUrl, function () {
            //        $('popupForm', $pageContent).removeData('validator');
            //        $('popupForm', $pageContent).removeData('unobtrusiveValidation');
            //        $.validator.unobtrusive.parse('form');

            //    });
            //    $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
            //        .html($pageContent)
            //        .dialog({
            //            draggable: false,
            //            autoOpen: false,
            //            resizable: false,
            //            model: true,
            //            title: "Popup Dialog",
            //            height: 550,
            //            weight: 600,
            //            close: function () {
            //                $dialog.dialog('destroy').remove();
            //            }
                        
            //        })
            ////    $('.popupWindow').on('submit', '#popupForm', function (e) {
            ////        var url = $('#popupForm')[0].action;
            ////        $.ajax({
            ////            type="POST",
            ////            url: url,
            ////            data: $('#popupForm').serialize(),
            ////            success: function (data) {
            ////                if (data.status) {
            ////                    $dialog.dialog('close');
            ////                    oTable.ajax.reload();
            ////                }
            ////            }

            ////        })
            ////        e.preventDefault();
            ////    })
            //    $dialog.dialog('open');
            // }
        })
    </script>
</body>

</html>

