﻿@model EquineSystem.Models.UserViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" onclick="AddNewStaff(0)" >Add new staff</a><br />
    <div class="table-responsive m-t-40">
        <table id="myTable" class="table  table-striped" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    @*<th>Action(Edit)</th>*@
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="SetStaffList">
                <tr id="LoadingStatus"></tr>
            </tbody>
        </table>
    </div>
   

    @* create a popup modal for add  *@
    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>&nbsp;&nbsp;
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @*@Html.LabelFor()*@
                            @Html.HiddenFor(m => m.UserId, new { @id = "UserId" })
                            <div class="form-group">
                                <label>First name *</label>
                                @Html.TextBoxFor(m => m.FirstName, new { @id = "FirstName", @class = "form-control", required = "required" })
                            </div>
                            <div class="form-group">
                                <label>Last name *</label>
                                @Html.TextBoxFor(m => m.LastName, new { @id = "LastName", @class = "form-control", required = "required" })
                            </div>
                            <div class="form-group">
                                <label>Email *</label>
                                @Html.TextBoxFor(m => m.EmaidId, new { @id = "EmaidId", @class = "form-control", required = "required" })
                            </div>
                            <div class="form-group">
                                <label>Phone number *</label>
                                @Html.TextBoxFor(m => m.EmaidId, new { @id = "PhoneNo", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStaffRecord">Save</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @* modal for update *@
    <div class="modal fade" id="MyModalUpdate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>&nbsp;&nbsp;
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="UpdateForm">
                            @*@Html.LabelFor()*@
                            @Html.HiddenFor(m => m.UserId, new { @id = "UserId" })
                            <div class="form-group">
                                <label>First name *</label>
                                @Html.TextBoxFor(m => m.FirstName, new { @id = "FirstName", @class = "form-control", @placeholder = "First Name" })
                            </div>
                            <div class="form-group">
                                <label>Last name *</label>
                                @Html.TextBoxFor(m => m.LastName, new { @id = "LastName", @class = "form-control", @placeholder = "Last Name" })
                            </div>
                            <div class="form-group">
                                <label>Email *</label>
                                @Html.TextBoxFor(m => m.EmaidId, new { @id = "EmaidId", @class = "form-control", @placeholder = "Email", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <label>Phone number *</label>
                                @Html.TextBoxFor(m => m.EmaidId, new { @id = "PhoneNo", @class = "form-control", @placeholder = "Phone No" })
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="UpdateStaffRecord">Update</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--modal for view staff details-->
    <div class="modal fade" id="modalViewStaffDetail">
        <div class="modal-dialog">
            <div class="modal-content">
               <!--content-->
                <div class="modal-body">
                    <div >
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="~/Content/assets/images/users/1.jpg" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0" id="txtName"></h3> <small id="txtRole"></small>
                                    <address>
                                        <abbr title="Phone">P:<span id="txtPhone"></span></abbr><br />
                                        <abbr title="Email">E:<span id="txtEmail"></span></abbr> 
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                </div>
                <!--footer-->
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                </div>*@
            </div>
            
        </div>
    </div>
    
</div>
<script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/assets/plugins/popper/popper.min.js"></script>
<script src="~/Content/assets/plugins/sweetalert/sweetalert.min.js"></script>

<script>

    $("#LoadingStatus").html("Loading ...");
    $.get("/Admin/GetStaffList", null, DataBind);
    function DataBind(userList) {
        var SetData = $("#SetStaffList");
        for (var i = 0; i < userList.length; i++) {
            var Data = "<tr class='row_" + userList[i].UserId + "'>" +
                "<td>" + (i+1) + "</td>" +
                "<td>" + userList[i].FirstName + "</td>" +
                "<td>" + userList[i].LastName + "</td>" +
                "<td>" + userList[i].EmaidId + "</td>" +
                //"<td>" + "<a href='#' class='btn btn-warning' onclick='EditStaffRecord(" + userList[i].UserId + ")'><span class='glyphicon glyphicon-edit' ></span></a>" + "</td>" +
                "<td>"
                + "<a href='#' class='btn btn-warning' onclick='ViewStaffRecord(" + userList[i].UserId + ")'><span class='fa fa-eye' ></span></a>&nbsp;&nbsp;<a href='#' class='btn btn-danger' onclick='DeleteStaff(" + userList[i].UserId + ")'><span class='fa fa-trash'></span></a>" +
                "</tr>";
            SetData.append(Data);  
            $("#LoadingStatus").html(" ");
        }
    }

    //show popup
    function AddNewStaff(userList) {
        $("#form")[0].reset();
        $("#ModalTitle").html("Add New Staff");
        $("#MyModal").modal();

    }

   // show popup modal for edit
    function ViewStaffRecord(UserId) {
        var url = "/Admin/GetStaffById?UserId=" + UserId;
        //1. create new modal for view staff detail
        $("#modalViewStaffDetail").modal();
        $.ajax({
            type: "GET",
            url:url,
            success:function (data) {
                var object = JSON.parse(data);
                document.getElementById("txtName").innerHTML =  object.FirstName + " " + object.LastName ;
                document.getElementById("txtRole").innerHTML = "<span class='label label-info' >" + object.Role + "</span>";
                document.getElementById("txtEmail").innerHTML = object.EmaidId;
                document.getElementById("txtPhone").innerHTML = object.PhoneNo;
               
            }

        })
    }

    //remove staff + sweet alert plugin
    function DeleteStaff(UserId) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to undo this action!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false,
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "POST",
                    url: '/Admin/DeleteStaff',
                    data: { 'id': UserId },
                    success: function (data) {
                        if (data.status) {
                            swal("Deleted!", "The staff has been removed.", "success");
                            
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })

            } 
        });
    }
   


    //save for add new
    $("#SaveStaffRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "POST",
            url: "/Admin/SaveDataInDatabase",
            data: data,
            success: function (result) {
                if (result) {
                    alert("Succeed");
                    window.location.href = "/Admin/ListStaff";
                    $("#MyModal").modal("hide");
                }
                else {
                    alert("Failed / Email already registered");
                }
                
            }
        })
        
    })

    //save for update action
    $("#UpdateStaffRecord").click(function () {
        var data = $("#UpdateForm").serialize();
        $.ajax({
            type: "POST",
            url: "/Admin/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Succeed");
                window.location.href = "/Admin/ListStaff";
                $("#MyModal").modal("hide");
            }
        })
    })

</script>


