﻿@model EquineSystem.Models.User

<h2>Save</h2>
@using(Html.BeginForm("save","home",FormMethod.Post,new { id = "popupForm" }))
{
    if(Model !=null && Model.UserId > 0)
    {
        @Html.HiddenFor(a=> a.UserId)
    }

    <div class="form-group">
        <label>First Name</label>
        @Html.TextBoxFor(a => a.FirstName, new  { @class="form-control"})
        @Html.ValidationMessageFor(a => a.FirstName)

    </div>
    <div class="form-group">
        <label>Last Name</label>
        @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.LastName)

    </div>
    <div class="form-group">
        <label>Email </label>
        @Html.TextBoxFor(a => a.EmaidId, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.EmaidId)

    </div>
}
